
<h1 id="titulo">Contato
</h1>

<div class="container">
  <form action="action_page.php">

    <label for="fname">Nome</label>
    <input type="text" id="fname" name="name" placeholder="Nome...">

    
    <label for="lname">Email</label>
    <input type="text" id="lname" name="email" placeholder="Email...">

    <label for="lname">Telefone</label>
    <input type="text" id="lname" name="tel" placeholder="Telefone...">

    

    <label for="subject">Mensagem</label>
    <textarea id="subject" name="subject" placeholder="Sua mensagem..." style="height:200px" id="textA"></textarea>

    <input type="submit" value="Enviar">

  </form>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
  laborum.
</p>




<footer class="footer">

  <div class="num">

  <p>(41) 9 8898-6934</p>

  </div>


<div id="socialMedia">
<a href="https://twitter.com/" target="_blank">
  <img id="logo" src="../assets/twitter.png">
</a>
<a href="https://facebook.com/" target="_blank">

<img id="logo" src="../assets/face.png">
</a>
<a href="https://www.linkedin.com/" target="_blank">

<img id="logo" src="../assets/linkedin.png">
</a>

</div>


</footer>
