@font-face {
    font-family: "Dosis-Regular";
    src: url("../../assets/fonts/Dosis-Regular.ttf");
}
@font-face {
    font-family: "ExpletusSans-Regular";
    src: url("../../assets/fonts/ExpletusSans-Regular.ttf");
}


#titulo{

    font-family: 'ExpletusSans-Regular';
    font-style: normal;
    font-weight: inherit;
    font-size: 90px;
    text-align: center;

    
}


.pessoaLucca{

float: left;
width:30%;
position: relative;


}

h1{

    font-family: 'Dosis-Regular';
    font-style: normal;
    font-weight: inherit;



}

.pessoaKaoanne{

    float: left;
    width:30%;
    position: relative;
    

}
.empresa{

    float: left;
    width:40%;
    position: relative;
    

}
.empresa img{

    border-radius: 0%;
    height: 200px;
    position: relative;
    margin-left: 30%;
    

}

.pessoaKaoanne img{

    border-radius: 50%;
    height: 200px;
    position: relative;
    margin-left: 20%;

}
.pessoaLucca img{

    border-radius: 50%;
    height: 200px;
    position: relative;
    margin-left: 20%;

}


.coluna p{


    text-align: justify;
    margin-right: 30px;
    font-family: 'Dosis-Regular';
    font-style: normal;
    font-weight: inherit;


}


.footer{

background: #E8E9EB;
height: 100px;
margin-bottom: 0px;

position: fixed;
left: 0;
bottom: 0;
width: 100%;

}

.footer p{

    position: relative;
    font-family: 'Dosis-Regular';
    margin-left: 30px;
    float: left;
    font-size: 20px;
    margin-top: 37px;

}
#socialMedia{

    position: relative;
    margin-right: 30px;
    float: right;
    margin-top: 20px;
}

#logo{


    height: 60px;
    width: 60px;

}




