

<h1 id="titulo">Quem Somos</h1>


<div class="coluna">

  <div class="pessoaLucca">

<img src="../assets/lucca.jpg" alt="avatar">

<h1>
  Lucca Eppinger
</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
  laborum.
</p>


</div>

<div class="pessoaKaoanne">


  <img src="../assets/kaoanne.jpg" alt="avatar">

  <h1>
    Kaoanne Gabrielly
  </h1>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
    laborum.
  </p>


</div>
<div class="empresa">


  <img src="../assets/mochila.png" alt="avatar">

  <h1>
   BitTravellers
  </h1>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
    laborum.
  </p>


</div>




</div>





<div class="footer">

  <div class="num">

  <p>(41) 9 8898-6934</p>

  </div>


<div id="socialMedia">
<a href="https://twitter.com/" target="_blank">
  <img id="logo" src="../assets/twitter.png">
</a>
<a href="https://facebook.com/" target="_blank">

<img id="logo" src="../assets/face.png">
</a>
<a href="https://www.linkedin.com/" target="_blank">

<img id="logo" src="../assets/linkedin.png">
</a>

</div>


</div>