
<ul id="menuContent">

  <li> <a  routerLink = "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> BitTravellers  </a> </li>
  <li> <a routerLink = "projetos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Projetos </a> </li>
  <li> <a routerLink = "sobre" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Sobre </a> </li>
  <li> <a routerLink = "contato" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Contato </a> </li>



</ul>




<router-outlet></router-outlet>

